.smoothpath {
     stroke: rgb(50, 50, 50); 
     fill: none;
}
.pixel {
     fill: white
}
.track {
     position: absolute; 
     top: 150px;
     left: 520px; 
}
.sliders {
    position: absolute;
    top: 180px;
    left:250px;
}

#CreateBezier {
     position: absolute;
     top: 680px;
     left:730px;
}

#Clickcoordinates {
     position: absolute;
     top: 80px;
     left: 660px;
}
