
body {
     background-color: rgba(1, 14, 18, 0.704);
     color: whitesmoke;
}

.smoothpath {
     stroke: rgb(50, 50, 50); 
     fill: none;
}
.pixel {
     fill: white
}

.newpixel {
     fill: rgb(235, 10, 10)
}

.oldpixel {
     fill: rgb(66, 6, 232)
}


.track {
     position: absolute; 
     top: 150px;
     left: 520px; 
}
.sliders {
    position: absolute;
    top: 180px;
    left:250px;
}

#CreateBezier {
     position: absolute;
     top: 680px;
     left:730px;
}

#Clickcoordinates {
     position: absolute;
     top: 80px;
     left: 540px;
}

#Coordinatetracker {
     position: absolute;
     top: 80px;
     left: 860px;
     font-style: oblique;
}



